---
layout: default
title: A developer’s guide to application security
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/developers-guide-application-security?x=gsG52p&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook."
success_message: "You will also receive a copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline A developer’s guide to application security
        %h2.page-headline A complimentary ebook

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Application delivery is accelerating, and developers are taking on additional responsibilities to keep their code secure. Traditional security practices are hard pressed to keep up, and customer expectations are rising.
            
            %p DevSecOps is the answer - but it can be a challenge to get there. Nearly 70% of developers are expected to write secure code, but many companies haven’t set standards for what that means and don’t provide all of the tools needed for success.

            %h3 What you’ll learn in this eBook:
            %ul
              %li What shifting left means, and why it’s important.
              %li Five strategies for writing secure code.
              %li How to deploy and maintain secure apps.

            %p Download the ebook to jumpstart your DevSecOps strategy.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }