---
layout: handbook-page-toc
title: "Create Stage"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

# Welcome 

Welcome to the Create Stage! 

# Meet Our Team Members

|Team| Engineering Managers 
|----|----------------------|
|[Create Stage](https://about.gitlab.com/handbook/engineering/development/dev/create/)|[Darva Satcher](https://about.gitlab.com/company/team/#dsatcher)|
|[Create:Ecosystem](https://about.gitlab.com/handbook/engineering/development/dev/ecosystem/)|[Lukas Eipert](https://about.gitlab.com/company/team/#leipert)|
|[Create:Editor](https://about.gitlab.com/handbook/engineering/development/dev/create-editor-be/)|[Darva Satcher](https://about.gitlab.com/company/team/#dsatcher) (Backend) [Roman Kuba](https://about.gitlab.com/company/team/#rkuba) (Frontend)|
|[Create:Knowledge](https://about.gitlab.com/handbook/engineering/development/dev/create-knowledge-be/)|[Darva Satcher](https://about.gitlab.com/company/team/#dsatcher) (Backend) [Roman Kuba](https://about.gitlab.com/company/team/#rkuba) (Frontend)|
|[Gitaly](https://about.gitlab.com/handbook/engineering/development/dev/gitaly/)|[Zeger-Jan van de Weg](https://about.gitlab.com/company/team/#zj-gitlab)|
|[Gitter](https://about.gitlab.com/handbook/engineering/development/dev/gitter/)|[Jean du Plessis](https://about.gitlab.com/company/team/#jeanduplessis)|
|[Create:Source Code](https://about.gitlab.com/handbook/engineering/development/dev/create-source-code-be/)|[Michelle Gill](https://about.gitlab.com/company/team/#m_gill) (Backend) [André Luís](https://about.gitlab.com/company/team/#andr3) (Frontend)|
|[Create:Static Site Editor](https://about.gitlab.com/handbook/engineering/development/dev/create-static-site-editor/)|[Jean du Plessis](https://about.gitlab.com/company/team/#jeanduplessis)|


# Learn About Our Products

## Create:Source Code
<details><summary></summary>
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=78_in257-AE&list=PL05JrBw4t0KqLWXT14d0V1OWRMDPfmdxU" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->
</details>

## Gitaly 
<details><summary></summary>
<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/6wyFlBN3vp0" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
</details>

## Create:Knowledge
<details><summary></summary>
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/09-Euw_ssSc" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
</details>

## Create: Static Site Editor
<details><summary></summary>
<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/2GFkNcFXCcc" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
</details>

## Create:Editor
<details><summary></summary>
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/9g1Hzc4rWEY" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
</details>

## Gitter
<details><summary></summary>
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=ZZ5EwGfNB40" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
</details>


  
